html,
body {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Press Start 2P', cursive;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--color-pomb-and-power);
}
